@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

body {
  font: normal 14px/26px 'Roboto Mono', monospace;
  background-color: #fff;
}

div[role='group'][tabindex] {
  height: 100%;
}
