@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');


body {
  margin: 0px;
  font: normal 14px/26px 'Roboto Mono', monospace;
  background-color: #0000001a;
}

div[role='group'][tabindex] {
  height: 100%;
}
