@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font: normal 14px/26px 'Roboto Mono', monospace;
  background-color: #fff;
  color: #454750;
  background: url('/images/bg.jpg') top center no-repeat;
  background-size: 100vw;
}

div[role='group'][tabindex] {
  height: 100%;
}

.logo {
  background: url('/images/hacktober-2019-vitta.jpg') no-repeat;
  background-size: cover;
  width: 211px;
  height: 105px;
  display: block;
  margin: 58px 0 80px;
}

.heroTitle {
  font: normal 29px/43px 'Roboto Mono', monospace;
  letter-spacing: 3px;
  margin-bottom: 53px;
}

.heroButton {
  font-size: 13px 20px;
  margin: 0 0 116px;
}

.heroImages {
  margin: 84px 0 0;
}

.heroImages img {
  position: absolute;
  top: 0;
  left: 0;
  width: 978px;
}

.btn {
  border-radius: 0;
  position: relative;
  z-index: 3;
  box-shadow: 4px 4px 0 0 #fff, 4px 4px 0 1px #000;
}

.btn-outline-dark {
  background: #fff;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  background: #eceef0;
  color: #000;
  box-shadow: 2px 2px 0 0 #fff, 2px 2px 0 1px #000;
}

.btn-outline-dark:active:focus,
.btn-outline-dark:active {
  background: #454750;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #000 !important;
}

.btn-outline-dark:active img {
  filter: invert(100%);
}
